@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

* { box-sizing: border-box; }

body {
  background: #888;
  font-family: 'Orbitron', sans-serif;
  margin-top: 150px;
}

.error {
  color: #890b0b;
  font-size: 24px;
  margin: 50px;
  text-align: center;
  opacity: 0;
}

.errorFade { animation: fade 2s; }

@keyframes fade {
  0% { opacity: 0 }
  30% { opacity: 1 }
  70% { opacity: 1 }
  100% { opacity: 0 }
}

.calculator {
  background: #f4f4f4;
  width: 400px;
  margin: 0 auto;
  padding: 30px 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "screen screen screen screen"
    "buttons buttons buttons buttons";
  border-radius: 10px;
  box-shadow: 15px 15px 30px 5px #191818, 0 0 50px 5px #191818, -5px -5px 10px #888 inset;
}

.calculatorShake { animation: shake .2s 10; }

@keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-7px, 4px) rotate(3deg); }
  20% { -webkit-transform: translate(10px, 1px) rotate(-2deg); }
  30% { -webkit-transform: translate(20px, 20px) rotate(-20deg); }
  40% { -webkit-transform: translate(-10px, 11px) rotate(0deg); }
  50% { -webkit-transform: translate(-6px, 6px) rotate(3deg); }
  60% { -webkit-transform: translate(20px, 1px) rotate(5deg); }
  70% { -webkit-transform: translate(-20px, 13px) rotate(-15deg); }
  80% { -webkit-transform: translate(15px, -50px) rotate(-7deg); }
  90% { -webkit-transform: translate(17px, -4px) rotate(10deg); }
  100% { -webkit-transform: translate(6px, 5px) rotate(4deg); }
}

.calcHeader {
  grid-area: header;
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
}

.screen {
  background: #baba9a;
  overflow: auto;
  padding: 5px 10px;
  margin: 15px 0;
  grid-area: screen;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "currentDisplay"
    "fullOP";
  text-align: right;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #88886b inset;

  &::-webkit-scrollbar {
    background-color: #6e6e59;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.currentDisplay {
  grid-area: currentDisplay;
  font-size: 40px;
}

.fullOP {
  grid-area: fullOP;
  align-self: end;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "allClear clear div mult"
    "seven eight nine sub"
    "four five six add"
    "one two three equal"
    "zero zero dot equal";
}

.button {
  font-family: 'Orbitron', sans-serif;
  background: #404040;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px #191818, 0 -3px 10px #aaa inset;
  outline: none;
  cursor: pointer;
}

.button:active {
  transform: translateY(5px);
  box-shadow: none;
  opacity: 0.8;
}

.allClear,
.clear {
  background: #801212;
  box-shadow: 0 5px #590d0d;
}

.allClear { grid-area: allClear; }
.clear { grid-area: clear; }
.div { grid-area: div; }
.mult { grid-area: mult; }
.add { grid-area: add; }
.sub { grid-area: sub; }
.equal { grid-area: equal; }
.dot { grid-area: dot; }
.zero { grid-area: zero; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
