@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

* { box-sizing: border-box; }

body {
  font-family: 'Orbitron', sans-serif;
  margin-top: 150px;
}

.calculator {
  background: #f4f4f4;
  width: 400px;
  margin: 0 auto;
  padding: 30px 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "screen screen screen screen"
    "buttons buttons buttons buttons";
    border-radius: 10px;
  border: 1px solid black;
}

.calcHeader {
  grid-area: header;
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
}

.screen {
  background: #baba9a;
  padding: 5px;
  margin: 15px 0;
  grid-area: screen;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "currentDisplay"
    "fullOP";
  text-align: right;
  border-radius: 10px;
}

.currentDisplay {
  grid-area: currentDisplay;
  font-size: 40px;
}

.fullOP {
  grid-area: fullOP;
  align-self: end;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "allClear clear div mult"
    "seven eight nine sub"
    "four five six add"
    "one two three equal"
    "zero zero dot equal";
}

.button {
  font-family: 'Orbitron', sans-serif;
  background: #404040;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px #191818, 0 -3px 10px #aaa inset;
  outline: none;
  cursor: pointer;
}

.button:active {
  transform: translateY(5px);
  box-shadow: none;
  opacity: 0.8;
}

.allClear,
.clear {
  background: #801212;
  box-shadow: 0 5px #590d0d;
}

.allClear { grid-area: allClear; }
.clear { grid-area: clear; }
.div { grid-area: div; }
.mult { grid-area: mult; }
.add { grid-area: add; }
.sub { grid-area: sub; }
.equal { grid-area: equal; }
.dot { grid-area: dot; }
.zero { grid-area: zero; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
